/semantix-skos-model/target/
/semantix-base/target/
/semantix-jena/target/
/semantix-skos-jena/target/
/semantix-skos-index/target/
/semantix-lucene/target/
/semantix-etl/target/
/semantix-etl-cl/target/