<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SWS</servlet-name>
        <servlet-class>ie.cmrc.smtx.sws.server.SWS</servlet-class>
        <init-param>
            <description>Path to the data directory. The data directory must contain a "TDB" directory (triple store) and an "index" directory (indexed data).</description>
            <param-name>DATA</param-name>
            <param-value>/Users/yassine/ws/mddp_store/sws</param-value>
            <!--param-value>/home/semantix/mddp_store/sws</param-value-->
            <!--param-value>/Users/yassine/umls/sws</param-value-->
        </init-param>
        <init-param>
            <description>Comma-separated list of languages (ISO 2-letter codes) supported by this SWS</description>
            <param-name>LANGS</param-name>
            <param-value>en</param-value>
        </init-param>
        <init-param>
            <description>Minimum length of search keywords. Search requests with keywords that are shorter than this will result in an exception. Default value is 2.</description>
            <param-name>MIN_KW_LENGTH</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <description>Default method for setting the roots of concept hierarchies for the GetConceptHierarchy method. Supported values are:
- topConcepts: only concepts asserted as top concepts of the target concept scheme are considered as roots,
- broadestConcept: only the broadest concepts are considered as roots,
- both: both top and broadest concepts are considered as roots.</description>
            <param-name>HIER_METHOD_ROOT_TYPE</param-name>
            <param-value>topConcepts</param-value>
        </init-param>
        <init-param>
            <description>Default relationship type used to build concept hierarchies by the GetConceptHierarchy operation. Supported values are:
- narrower: For a parent concept, only concepts that are asserted to be narrower than this one, using skos:narrower, are considered as child concepts,
- directNarrower: For a parent concept, only concepts that are immediately narrower than this one using skos:narrowerTransitive are considered as child concepts,
- bothNarrower: both narrower and direct narrower relationships are considered in building a concept hierarchy.</description>
            <param-name>HIER_METHOD_REL_TYPE</param-name>
            <param-value>narrower</param-value>
        </init-param>
        <init-param>
            <description>Default output format. The supported output formats are application/xml and application/json.</description>
            <param-name>DEFAULT_OUTPUT_FORMAT</param-name>
            <param-value>application/xml</param-value>
        </init-param>
        <init-param>
            <description>Required filtering type for the GetConcepts and GetConceptHierarchy operations. Possible values are:
- none: No filtering is required, this means that a client may request the full list of concepts or the hierarchy of all the concepts in this SWS. This is not recommended for large thesauri.
- cs: Concept requests must include at least filter by concept scheme
- collection: Concept requests must include a filter by collection
- csOrCollection: Concept requests must include a filter by concept scheme or collection
- csAndCollection: Concept requests must include a filter by concept scheme or collection</description>
            <param-name>REQUIRED_FILTER</param-name>
            <param-value>none</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SWS</servlet-name>
        <url-pattern>/SWS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
